
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>会员中心</title>
	<link rel="stylesheet" href="/static/admin/assets/css/layui.css">
	<link rel="stylesheet" type="text/css" id="css" href="/static/home/css/user.css">
	{include file="public/validate"}
	<script>
	layui.config({
		dir: '/static/layui/'
		,version: false
		,debug: false
		,base: '/static/layui/lay/modules/'
	});
	//一般直接写在一个js文件中
	layui.use(['layer', 'form','element'], function(){
		var layer = layui.layer
		,element = layui.element
		,form = layui.form
	});
	</script>
</head>
<body>
<div id="lay-body">
	<div class="layui-layout layui-layout-admin">
		<script>
	$(function () {
		$(window).resize(function() {
			$("#lay-body").removeClass('layadmin-side-spread-sm');
		});
		$("body").on("click","#flexible", function(){
			$("#lay-body").addClass('layadmin-side-spread-sm');
			$('html').css({"overflow":"hidden"});
			$('body').css({"overflow":"hidden"});
		});

		$("body").on("click",".layadmin-body-shade", function(){
			$("#lay-body").removeClass('layadmin-side-spread-sm');
		});
		$("body").on("click","#refresh", function(){
			location.reload();
		});

		$('.clearcache').click(function () {
			$.ajax({
				url: "adm.php?m=cache&a=del",
				type: "post",
				dataType: "json",
				success: function(data){
					if(data.code == 1){
						layer.msg(data.msg, {time: 1000, icon: 1});
						setTimeout(function(){//两秒后跳转   
							location.reload(); 
						},1000);
					}
					else{
						layer.msg(data.msg, {time: 1000, icon: 2});
					}
				}
			});
		});
	});
</script>
<div class="layui-header">
	<ul class="layui-nav layui-layout-left">
		<li class="layui-nav-item layadmin-flexible" lay-unselect="">
			<a href="javascript:;" id="flexible" title="侧边伸缩">
			<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
			</a>
		</li>
		<li class="layui-nav-item layui-hide-xs" lay-unselect="">
			<a href="/" target="_blank" title="前台">
			<i class="layui-icon layui-icon-website"></i>
			</a>
		</li>
		<li class="layui-nav-item" lay-unselect="">
			<a href="javascript:;" id="refresh" title="刷新">
			<i class="layui-icon layui-icon-refresh-3"></i>
			</a>
		</li>
		<span class="layui-nav-bar" style="width: 0px; left: 142px; opacity: 0; top: 48px;"></span>
	</ul>
	<ul class="layui-nav layui-layout-right">
	  <li class="layui-nav-item" style="margin-right:10px;">
		<a href="javascript:;">
		   <i class="layui-icon" style="font-size:16px; color: #aaa;">&#xe612;</i>
           15261011679
		</a>
		<dl class="layui-nav-child">
		  <dd><a href="user.php?m=userinfo&a=logout" class="logout">退出</a></dd>
		</dl>
	  </li>
	</ul>
</div>		<div class="layui-side layui-side-menu">
	<div class="layui-side-scroll">
		<div class="layui-logo">
            会员中心
        </div>
		<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">首页</a>
				<dl class="layui-nav-child">
					<dd class="layui-this"><a href="user.php?m=index">会员首页</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">我是买家</a>
				<dl class="layui-nav-child">
					<dd ><a href="user.php?m=mysubscribe&a=list">我的预约</a></dd>
					<dd ><a href="user.php?m=mybargain&a=list">我的砍价</a></dd>
					<dd ><a href="user.php?m=myloan&a=list">我的贷款</a></dd>
					<dd ><a href="user.php?m=collect&a=list">我的收藏</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">我是卖家</a>
				<dl class="layui-nav-child">
					<dd ><a href="user.php?m=cars&a=list">车源管理</a></dd>
					<dd ><a href="user.php?m=subscribe&a=list">预约管理</a></dd>
					<dd ><a href="user.php?m=bargain&a=list">砍价管理</a></dd>
					<dd ><a href="user.php?m=loan&a=list">贷款管理</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">用户中心</a>
				<dl class="layui-nav-child">
					<dd ><a href="user.php?m=userinfo&a=upinfo">基本资料</a></dd>
					<dd ><a href="user.php?m=userinfo&a=certifyf">身份认证</a></dd>
					<dd ><a href="user.php?m=userinfo&a=uppwd">修改密码</a></dd>
				</dl>
			</li>
		</ul>
    </div>
</div>		<div class="layadmin-body-shade"></div>
		<div class="layui-body">
							<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">会员信息</div>
				<div class="layui-card-body">
					<div class="userinfo">
						<div class="img"></div>
						<div class="info">
							<p>15261011679，欢迎回来！</p>
							<p><a href="{:url('home/Authenti/authenti')}" class="layui-btn layui-btn-sm layui-btn-normal">去认证</a></p>
						</div>
					</div>
					<hr/>
					<ul class="user-tools layui-clear">
						<li>
							<div>
								<a href="user.php?m=cars">
								<span class="i01"><i class="layui-icon" style="font-weight:bold;">&#xe608;</i></span>
								<p>添加车源</p>
								</a>
							</div>
						</li>
						<li>
							<div>
								<a href="user.php?m=userinfo&a=certifyf">
								<span class="i02"><i class="layui-icon">&#xe672;</i></span>
								<p>身份认证</p>
								</a>
							</div>
						</li>
						<li>
							<div>
								<a href="user.php?m=subscribe&a=list">
								<span class="i03"><i class="layui-icon">&#xe63c</i></span>
								<p>预约处理</p>
								</a>
							</div>
						</li>
						<li>
							<div>
								<a href="user.php?m=userinfo&a=uppwd">
								<span class="i04"><i class="layui-icon">&#xe673;</i></span>
								<p>修改密码</p>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="layui-card">
				<div class="layui-card-header">数据统计</div>
				<div class="layui-card-body">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md6 layui-col-xs6">
							<div class="user-counts">
								<a href="user.php?m=cars&a=list&isshow=1">
								<p class="counts">0</p>
								<p>在售车源</p>
								</a>
							</div>
						</div>
						<div class="layui-col-md6 layui-col-xs6">
							<div class="user-counts">
								<a href="user.php?m=cars&a=list&isshow=2">
								<p class="counts">0</p>
								<p>已售车源</p>
								</a>
							</div>
						</div>
						<div class="layui-col-md6 layui-col-xs6">
							<div class="user-counts">
								<a href="user.php?m=collect&a=list">
								<p class="counts">0</p>
								<p>我的收藏</p>
								</a>
							</div>
						</div>
						<div class="layui-col-md6 layui-col-xs6">
							<div class="user-counts">
								<a href="user.php?m=mysubscribe&a=list">
								<p class="counts">0</p>
								<p>我的预约</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-header">预约信息</div>
				<div class="layui-card-body">
					<table id="subscribelist" lay-filter="subscribe"></table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
layui.use(['table','form'], function(){
	var table = layui.table,form = layui.form;
	
	table.render({
		elem: '#subscribelist' //指定原始表格元素选择器（推荐id选择器）
		,mothod: 'get'
		,cols: [[
			{field:'p_allname', title: '车源', width:360}
			,{field:'addtime', title: '预约时间', width:180}
			,{field:'p_tel', title: '电话', width:180}
		]] //设置表头
		,url: 'user.php?m=subscribe&a=list&ajax=1'
		,page: { 
			  layout: [ 'prev', 'page', 'next', 'skip', 'count'] //自定义分页布局
		}
		,id:'subscribe'
		,limits:false
		,limit:'20'
	});
});
</script>																																			</div>
	</div>
</div>
</body>
</html>