
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>会员中心</title>
	<link rel="stylesheet" href="/static/admin/assets/css/layui.css">
	<link rel="stylesheet" type="text/css" id="css" href="/static/home/css/user.css">
	<script type="text/javascript" src="/static/admin/js/jquery1.8.3.min.js"></script>
	<script type="text/javascript" src="/static/admin/assets/layui.all.js"></script>
	<style type="text/css"> 
	</style>
</head>
<body>
<div id="lay-body">
	<div class="layui-layout layui-layout-admin">
<div class="layui-header">
	<ul class="layui-nav layui-layout-left">
		<li class="layui-nav-item layadmin-flexible" lay-unselect="">
			<a href="javascript:;" id="flexible" title="侧边伸缩">
			<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
			</a>
		</li>
		<li class="layui-nav-item layui-hide-xs" lay-unselect="">
			<a href="/" target="_blank" title="前台">
			<i class="layui-icon layui-icon-website"></i>
			</a>
		</li>
		<li class="layui-nav-item" lay-unselect="">
			<a href="javascript:;" id="refresh" title="刷新">
			<i class="layui-icon layui-icon-refresh-3"></i>
			</a>
		</li>
		<span class="layui-nav-bar" style="width: 0px; left: 142px; opacity: 0; top: 48px;"></span>
	</ul>
	<ul class="layui-nav layui-layout-right">
	  <li class="layui-nav-item" style="margin-right:10px;">
		<a href="javascript:;">
		   <i class="layui-icon" style="font-size:16px; color: #aaa;">&#xe612;</i>
           15261011679
		</a>
		<dl class="layui-nav-child">
		  <dd><a href="user.php?m=userinfo&a=logout" class="logout">退出</a></dd>
		</dl>
	  </li>
	</ul>
</div>		<div class="layui-side layui-side-menu">
	<div class="layui-side-scroll">
		<div class="layui-logo">
            会员中心
        </div>
		<ul class="layui-nav layui-nav-tree">
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">首页</a>
				<dl class="layui-nav-child">
					<dd ><a href="{:url('home/Member/index')}">会员首页</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">我是买家</a>
				<dl class="layui-nav-child">
					<dd ><a href="user.php?m=mysubscribe&a=list">我的预约</a></dd>
					<dd ><a href="user.php?m=mybargain&a=list">我的砍价</a></dd>
					<dd ><a href="user.php?m=myloan&a=list">我的贷款</a></dd>
					<dd ><a href="user.php?m=collect&a=list">我的收藏</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">我是卖家</a>
				<dl class="layui-nav-child">
					<dd ><a href="user.php?m=cars&a=list">车源管理</a></dd>
					<dd ><a href="user.php?m=subscribe&a=list">预约管理</a></dd>
					<dd ><a href="user.php?m=bargain&a=list">砍价管理</a></dd>
					<dd ><a href="user.php?m=loan&a=list">贷款管理</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a class="" href="javascript:;">用户中心</a>
				<dl class="layui-nav-child">
					<dd ><a href="user.php?m=userinfo&a=upinfo">基本资料</a></dd>
					
					<dd ><a href="user.php?m=userinfo&a=uppwd">修改密码</a></dd>
				</dl>
			</li>
		</ul>
    </div>
</div>		
<div class="layadmin-body-shade"></div>
		<div class="layui-body">
	<div class="layui-card">
		<div class="layui-card-header">
			<div class="layui-tab layui-tab-brief">
				个人认证
			</div> 
		</div>
		<div class="layui-card-body">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4"><div class="stepbox ">1.填写资料</div></div>
				<div class="layui-col-md4"><div class="stepbox stepbox_isselected">2.审核中</div></div>
				<div class="layui-col-md4"><div class="stepbox">3.审核结果</div></div>
			</div>
			<hr style="margin:20px 0"/>
			<form  class="layui-form"  action="" id="carform" >
			<div>
				<input type="hidden" name="checkname" value="{:session('front_name')}">
				管理员正在审核中，
				</div>
			</div>
	</form>
</body>

{include file="public/validate"}

</html>