<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/admin/assets/css/layui.css">
    <link rel="stylesheet" href="/static/admin/assets/css/view.css"/>
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <title>友情链接页面</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box"> 

                      <button class="layui-btn layui-btn-blue add" style="margin-bottom:15px" ><i class="layui-icon">&#xe654;</i>添加链接</button> 
                      <table lay-filter="catelist" >
                        <thead>
                          <tr>
                            <th lay-data="{field:'link_id',width:60,'sort':true,align:'center'}">ID</th>
                            <th lay-data="{field:'link_name',width:160,align:'center'}">链接名</th>
                            <th lay-data="{field:'link_src',width:320,align:'center'}">链接地址</th>
                            <th lay-data="{field:'link_ifshow',templet:'#ifshow',width:100,align:'center'}">是否显示</th>
                            <th lay-data="{width:160,toolbar:'#toolbar',align:'center','fixed':'right'}">操作</th>
                          </tr>
                        </thead>
                        {foreach $list as $key=>$vo}
                          <tr>
                            <td align='center'>{$vo.link_id}</td>
                            <td align='center'>{$vo.link_name}</td>
                          	<td align='center'>{$vo.link_src}</td>
                          	<td align='center'>{$vo.link_ifshow}</td>
                            <td align='center'></td>
                          </tr>
                        {/foreach}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/html' id="ifshow">
      <input type="checkbox" name="ifshow" lay-skin="switch" lay-text="显示|隐藏" value='1' {{ d.link_ifshow==1?'checked':''}} lay-event='switch' lay-filter='ifshow' dataid="{{ d.link_id }}">
    </script>
    <script src="/static/admin/js/jquery1.8.3.min.js"></script>
    <script src="/static/admin/assets/layui.all.js"></script>
    <script type="text/html" id="toolbar">
      <a lay-event="edit" class="layui-btn layui-btn-xs layui-btn-warm">编辑</a>
      <a lay-event="del" class="layui-btn layui-btn-xs layui-btn-normal">删除</a>
    </script>
    <script>
      var element = layui.element;
  var table = layui.table;
  var form = layui.form;
  table.init('catelist',{
    width:800,
  });

  //编辑和删除事件的触发
  /*
    2.2.6版本中
    工具栏事件触发
    table.on('tool(table标签的lay-filter的值)',function(obj){
  
    })
  */
  table.on("tool(catelist)",function(obj){
    var evt = obj.event;
    var id = obj.data;
    //console.log(obj);
    if(evt=="del"){
      layer.confirm('确定删除行么', function(index){
	    $.ajax({
	      	type:"get",
	      	url:"{:url('admin/Link/linkDel')}",
	      	data:{id:id.link_id},
	      	dataType: 'json',
	      	success:function(res){
	      		if(res.code==0){
	              layer.msg(res.msg,{icon:2,time:1500});
	            }else{
	              layer.msg(res.msg,{icon:1,time:1500},function(){
	                obj.del();
	              })
	            }
	      	}
	    });
	      	layer.close(index);
	  });
    }else if(evt=="edit"){
      layer.open({
        type:2,
        title:"修改链接",
        skin: 'layui-layer-rim', //加上边框
        area: ['800px', '600px'], //宽高
        content:"{:url('admin/link/linkUpdate')}?newsid="+id.link_id//调到新增页面
      });
    }
  });

    form.on('switch(ifshow)',function(obj){
    //console.log(obj.elem.getAttribute('dataid'));
    var cateid = obj.elem.getAttribute('dataid');
    $.ajax({
      type:"get",
      url:"{:url('admin/link/updateif')}",
      data:"cateid="+cateid,
      dataType:'json',
      success:function(res){
        if(res.code==1){
          layer.msg(res.msg,{icon:1,time:1000})
        }
      }
    })
  })

  $(".add").click(function(){
    layer.open({
        type:2,
        title:"添加链接",
        skin: 'layui-layer-rim', //加上边框
		area: ['700px', '600px'], //宽高
		content:'{:url("admin/link/linkAdd")}'  //调到新增页面
      });
  })
    </script>
</body>
</html>